
.login {
    background-color: rgb(157, 201, 243);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    position: relative;
    height: 100%;
    min-height: 650px;

    
    h1 {
        margin-top: 70px;
        margin-right: 40px;
        font-size: 80px;
        color: #fff;
        display: flex;
        gap: 15px;
        font-family: 'Varela Round', sans-serif;
        
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    .penguins {
        width: 90%;
    }

    button {
        height: 50px;
        width: 400px;
        border: none;
        border-radius: 20px;
        background-color: #fff;

        position: absolute;
        bottom: 50px;

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
        font-family: 'Varela Round', sans-serif;
        transition: transform 0.2s;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 80px;
        }
    }
}